.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.user-name, .signout-btn {
  flex-direction: row; 
}

.user-name {
  font-size: 20px;
  margin: 10px auto 10px 10px;
}

.signout-btn {
  margin: 10px 10px 10px auto;
  font-size: 12px;
  vertical-align: middle;
}

.reminders-box {
  margin: 0 auto;
  display: flex;
}


.reminders-container {
  margin: 10px;
  /* background-color: #C8D5D6; */
  border-radius: 5px;
  padding: 0;
  flex-direction: column;
  width: 330px;
}

.jobdetails-container {
  list-style-type: none;
  flex-direction: column;
  display: flex;
  margin: 10px 0;
}

.mainremind-container {
  display: flex;
  margin: 15px auto;
  width: 330px;
  background-color: #CAD5DC;
  border-radius: 20px;
  height: 55px;
}

.reminder-text {
  margin: 4px 0;
  font-size: 10px;
}


.reminddetail-company {
  font-weight: bold;
  font-size: 14px;
  flex-direction: column;
  margin: 0;
  font-family:  sans-serif;
}


.circle-btn {
  border: 3px solid #6a7889;
  width: 15px;
  height: 15px;
  border-radius: 30px;
  margin: auto 20px;
}

html {
  background-image: linear-gradient(to top, rgb(246, 241, 241), white);
}