.main-container {
  display: flex;
  flex-direction: column;
  
}

.jobdetails-container {
  display: flex;
  justify-content: center;
}

.secondmain-container {
  /* border: 1px solid rgba(182, 194, 212, 0.767); */
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 4px;
  /* background-color: #c8d5d6; */
}

.titlelink-container {
  display: flex;
  align-items: center;
}

.job-link {
  padding: 5px 10px;
  background-color:#8897A9;;
  height: 12px;
  margin-left: 8px;
  border-radius: 10px;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.job-title {
 margin: 0 auto;
 color: #8897A9;
 font-weight: 500;
 font-size: 19px;
}

.spancontainer-jobdetail {
  display: flex;
  flex-direction: column;
  border: 1px solid black;

}


span {
  font-size: 12px;
  margin: 3px 0;
}


.notes-container {
  height: 100px;
  margin: 10px auto;
  width: 85%;
  background-color: #b3c3cb;
}

.url-container {
  width: 85%;
  height: 100px;
  margin: 5px auto;
  background-color: #b3c3cb;
}


.topsection {
  padding: 5px;
}


.companyname {
  margin: 25px 105px 10px 0;
  font-family: sans-serif;
  font-size: 25px;
}

.editdelete-btns {
  display: flex;
  justify-content: right;
  margin: 0 15px;
}

.deletebtn, .editbtn {
  padding: 5px;
  margin: auto 3px;
  border-radius: 3px;
  font-size: 10px;
}
.popup-box {
  background-color: #CAD5DC;
  border: 1px solid rgb(181, 179, 179);
  position: absolute;
  z-index: 20;
  border-radius: 5px;
  top: 200px;
  width: 380px;
  padding: 12px;
  opacity: .8;
  height: 129px;
}

.popup-text {
  text-align: center;
}

.x-close {
  text-align: right;
  margin: auto auto;
}

.removebtn {
 text-align: center;
 border-radius: 3px;
 margin:5px auto;
 width: 40px;
 padding: 3px;
 background-color: #b3c3cb;
}


.hide {
  display: none;
}

.plus-reminder {
  border-radius: 10%;
  font-size: 20px;
  color: #8897a9;
  margin: 0;
  width: 0;
}




.reminder-inputbox {
  border: none;
  width:295px;
  margin-right: -11px;
  border-bottom: 1px solid #8897a9;
  font-size: 10px;
  padding: 10px;
  font-family: serif;
  background-color: #8897a900;
}

html {
  background-image: linear-gradient(to top, rgb(228, 228, 228), rgb(255, 255, 255));
}

.outerlayer-bar {
  height: 18px;
  width: 95%;
  margin: 14px auto;
  border-radius: 10px;
  background-color: rgb(231, 232, 233);
}

.innerlayer-colorbar {
  height: 18px;
  width: 40%;
  border-radius: 10px;
  background-color: #C8C7D5;
}

.appstatus {
  
  font-size: 11px;
}

.reminder-item {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    margin: 10px auto;
    background-color: #CAD5DC;
    /* padding: 10px; */
    padding: 17px;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 14px;
  }
  


.reminderitem-container {
  display: block;
  width: 300px;
  text-align: left;
  padding: 0;
  margin: 30px auto;
}
/* 
.mainremind-container {
  display: flex;
  margin: 15px auto;
  width: 330px;
  background-color: #CAD5DC;
  border-radius: 20px;
  height: 55px;
} */

/* .reminder-text {
  margin: 4px 0;
  font-size: 10px;
} */

/* 
.reminddetail-company {
  font-weight: bold;
  font-size: 14px;
  flex-direction: column;
  margin: 0;
  font-family:  sans-serif;
} */


.circlebtn-map {
  border: 3px solid #6a7889;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  margin: auto 20px;
}

.circlebtn-map:hover {
  background-color: #8897A9;
}

.inputplus-container {
  display: flex;
  flex-direction: column;
  
}

html {
  background-image: linear-gradient(to top, rgb(215, 217, 218), white);
}