.main-container {
  display: flex;
  flex-direction: column;
  
}

.jobdetails-container {
  display: flex;
  justify-content: center;
}

.secondmain-container {
  /* border: 1px solid rgba(182, 194, 212, 0.767); */
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 4px;
  /* background-color: #c8d5d6; */
}

.titlelink-container {
  display: flex;
  align-items: center;
}

.job-link {
  padding: 5px 10px;
  background-color:#8897A9;;
  height: 12px;
  margin-left: 8px;
  border-radius: 10px;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.job-title {
 margin: 0 auto;
 color: #8897A9;
 font-weight: 500;
 font-size: 19px;
}

span {
  font-size: 12px;
  margin: 3px 0;
}

.notes-container {
  height: 100px;
  margin: 10px auto;
  width: 85%;
  padding: 10px;
  background-color: rgb(239, 242, 243);
  border-radius: 10px;
  box-shadow: 3px 6px 12px rgb(216, 215, 215);
  font-family: sans-serif;
  color: rgb(110, 107, 107);
}

.url-container {
  width: 85%;
  padding: 10px;
  height: 100px;
  margin: 5px auto;
  background-color: rgb(239, 242, 243);
  border-radius: 10px;
  box-shadow: 3px 6px 12px rgb(216, 215, 215);
  font-family: sans-serif;
  color: rgb(110, 107, 107);
}

.spancontainer-jobdetail {
  width: 85%;
  padding: 10px;
  height: 100px;
  margin: 30px auto 0 auto;
  background-color: rgb(239, 242, 243);
  border-radius: 10px;
  box-shadow: 3px 6px 12px rgb(216, 215, 215);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  color: rgb(110, 107, 107);
}


.topsection {
  padding: 5px;
}


.companyname {
  margin: 25px 105px 10px 0;
  font-family: sans-serif;
  font-size: 25px;
}

.editdelete-btns {
  display: flex;
  justify-content: right;
  margin: 0 15px;
}

.deletebtn, .editbtn {
  padding: 5px;
  margin: auto 3px;
  border-radius: 3px;
  font-size: 10px;
}
.popup-box {
  background-color: #ebeced;
  border: 1px solid rgb(181, 179, 179);
  position: absolute;
  z-index: 20;
  border-radius: 5px;
  top: 200px;
  left: 80px;
  width: 200px;
  padding: 12px;
  height: 129px;
}

.popup-text {
  text-align: center;
  font-family: sans-serif;
  font-size: 13px;
}

.x-close {
  text-align: right;
  margin: auto auto;
  font-family: sans-serif;
}

.removebtn {
 text-align: center;
 border-radius: 3px;
 margin:5px auto;
 width: 40px;
 padding: 3px;
 background-color: #272828;
 color: rgb(232, 229, 229);
 font-size: 9px;
}


.hide {
  display: none;
}

.plus-reminder {
  border-radius: 10%;
  font-size: 20px;
  color: #8897a9;
  margin: 0;
  width: 0;
}




html {
  background-image: linear-gradient(to top, rgb(228, 228, 228), rgb(255, 255, 255));
}

.outerlayer-bar {
  height: 18px;
  width: 95%;
  margin: 14px auto;
  border-radius: 10px;
  background-color: rgb(231, 232, 233);
}

.innerlayer-colorbar {
  height: 18px;
  width: 40%;
  border-radius: 10px;
  background-color: #C8C7D5;
}

.appstatus {
  padding: 2px;
  font-size: 11px;
  width: 95%;
  text-align: center;
}

.reminder-item {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    margin: 10px auto;
    background-color: #CAD5DC;
    width: 300px;
    padding: 17px;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: 3px 5px 8px rgb(233, 233, 233);
  }
  


.reminderitem-container {
  display: block;
 
  text-align: left;
  padding: 0;
  
}
/* 
.mainremind-container {
  display: flex;
  margin: 15px auto;
  width: 330px;
  background-color: #CAD5DC;
  border-radius: 20px;
  height: 55px;
} */

/* .reminder-text {
  margin: 4px 0;
  font-size: 10px;
} */

/* 
.reminddetail-company {
  font-weight: bold;
  font-size: 14px;
  flex-direction: column;
  margin: 0;
  font-family:  sans-serif;
} */


.circlebtn-map {
  border: 3px solid #6a7889;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  margin: auto 10px;
}

.circlebtn-map:hover {
  background-color: #8897A9;
}


html {
  background-image: linear-gradient(to top, rgb(222, 222, 223), white);
}

/* inputbox and plus */
.reminder-inputbox {
  border: none;
  width:330px;
  margin: auto -11px auto 5px;
  border-bottom: 1px solid #8897a9;
  font-size: 10px;
  padding: 3px 0;
  height: 15px;
  background-color: #8897a900;
  font-family: sans-serif;
}
