.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

body {
  margin: auto 20px;
}

.jobdetails-container {
  /* margin: auto auto; */
}

.secondmain-container {
  /* border: 1px solid rgba(182, 194, 212, 0.767); */
  margin: 0 auto;

  border-radius: 4px;
  /* background-color: #c8d5d6; */
}

.titlelink-container {
  display: flex;
  justify-content: space-between;
}

.job-link {
  padding: 5px 13px;
  background-color:#8897A9;;
  height: 12px;
  border-radius: 10px;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 8px;
  font-weight: bold;
}

.job-title {
 margin: 0;
 color: #8897A9;
 font-weight: 350;
 font-size: 17px;
}

span {
  font-size: 12px;
  margin: 3px 0;
}

.notes-container {
  margin: 10px auto;
  width: 85%;
  padding: 40px 30px;
  background-color: rgb(239, 242, 243);
  border-radius: 10px;
  box-shadow: 3px 6px 12px rgb(216, 215, 215);
  font-family: sans-serif;
  color: rgb(110, 107, 107);
}


.spancontainer-jobdetail {
  width: 85%;
  padding: 40px 30px;
  height: 100px;
  margin: 30px auto 0 auto;
  background-color: rgb(239, 242, 243);
  border-radius: 10px;
  box-shadow: 3px 6px 12px rgb(216, 215, 215);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  color: rgb(110, 107, 107);
}


.topsection {
  padding: 5px;
}


.companyname {
  /* margin: 25px 105px 10px 0; */
  font-family: sans-serif;
  font-size: 20px;
}

.editdelete-btns {
  margin: auto 0;
}

.company-editdelete-container {
  display:flex;
  justify-content: space-between;
  margin: 0
   auto;
}


.deletebtn, .editbtn {
  padding: 5px;
  margin: auto 3px;
  border-radius: 3px;
  font-size: 10px;
}
.popup-box {
  background-color: #ffffff;
  border: none;
  position: absolute;
  z-index: 20;
  border-radius: 8px;
  box-shadow: 4px 8px 15px rgb(205, 207, 207);
  top: 200px;
  left: 80px;
  width: 200px;
  padding: 12px;
  height: 129px;
}

.popup-text {
  text-align: center;
  font-family: sans-serif;
  font-size: 13px;
}

.x-close {
  text-align: right;
  margin: auto auto;
  font-family: sans-serif;
}

.removebtn {
 text-align: center;
 border-radius: 3px;
 margin:5px auto;
 width: 40px;
 padding: 3px;
 background-color: #272828;
 color: rgb(232, 229, 229);
 font-size: 9px;
}


.hide {
  display: none;
}

.plus-reminder {
  margin: auto 0;
  border: none;
  background: transparent;
  border-radius: 10%;
  font-size: 20px;
  color: #8897a9;
  margin: -7px;
  width: 0;
}




html {
  background-image: linear-gradient(to top, rgb(228, 228, 228), rgb(255, 255, 255));
}

.outerlayer-bar {
  height: 18px;
  width: 100%;
  margin: 30px auto;
  border-radius: 10px;
  background-color: rgb(231, 232, 233);
}

.appstatus {
  padding: 2px;
  font-size: 11px;
  width: 95%;
  text-align: center;
}

.reminder-item {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    margin: 10px auto;
    background-color: #CAD5DC;
    width: 300px;
    padding: 14px;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: 3px 5px 8px rgb(233, 233, 233);
  }
  


.reminderitem-container {
  display: block;
  text-align: left;
  padding: 0;
  
}

.circlebtn-map {
  border: 3px solid #6a7889;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  margin: auto 10px;
}

.circlebtn-map:hover {
  background-color: #8897A9;
}


html {
  background-image: linear-gradient(to top, rgb(222, 222, 223), white);
}

.inputplus-container {
  display: flex;
  flex-direction: row;
}
/* inputbox and plus */
.reminder-inputbox {
  border: none;
  width:100%;
  margin: 25px -11px auto 5px;
  border-bottom: 1px solid #8897a9;
  font-size: 15px;
  padding: 3px 0;
  height: 37px;
  background-color: #8897a900;
  font-family: sans-serif;
}

.applied {
  height: 15px;
  border-radius: 10px;
  background-color: #C8C7D5;
  width: 30%;
  font-size: 10px;
  text-align: center;
}

.phoneinterview {
  height: 15px;
  border-radius: 10px;
  background-color: #C8C7D5;
  width: 50%;
  font-size: 10px;
  text-align: center;
}

.hiringinterview {
  height: 15px;
  border-radius: 10px;
  background-color: #C8C7D5;
  width: 75%;
  font-size: 10px;
  text-align: center;
}

.joboffer {
  height: 15px;
  border-radius: 10px;
  background-color: #C8C7D5;
  width: 100%;
  font-size: 10px;
  text-align: center;
}

.rejected {
  height: 15px;
  border-radius: 10px;
  background-color: #3d4d5fb9;
  width: 100%;
  font-size: 10px;
  color: white;
  text-align: center;
}

.ghosted {
  height: 15px;
  border-radius: 10px;
  background-color: #4e50528c;
  width: 100%;
  font-size: 10px;
  color: white;
  line-height:13px;
  text-align: center;
}