.centerbtns-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}

.addjob-btncontainer, .threecenter-btns {
  flex-direction: row;
}

/* #search-icon {
  width: 22px;
  margin: auto 3px;
} */

#filter-icon {
  width: 22px;
  margin: auto 3px;
}

#sort-icon {
  width: 24px;
  margin: auto 3px;
}

.addjob-btn {
  color: #C8C7D5;
  background-color: rgb(24, 25, 25);
  border-radius: 6px;
  border: none;
  padding: 6px 10px;
  font-family: sans-serif;
  font-size: 12px;
}

.dropdown {
  display: none;
}

.show {
  display: block;
}