.centerbtns-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
}

.addjob-btncontainer, .threecenter-btns {
  flex-direction: row;
}

#search-icon {
  width: 22px;
  margin: auto 3px;
}

#filter-icon {
  width: 22px;
  margin: auto 3px;
}

#sort-icon {
  width: 24px;
  margin: auto 3px;
}